# Create a Gunicorn systemd Service File.
# common location '/etc/systemd/system/gunicorn.service'
[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/DjangoAWS
ExecStart=/home/ubuntu/DjangoAWS/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/DjangoAWS/DjangoAWS.sock DjangoAWS.wsgi:application

[Install]
WantedBy=multi-user.target